@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: #fafafa;
}
.hr {
  margin: 20px 0;
}
.App {
  font-family: Roboto, sans-serif;
  margin: 50px auto;
  width: 800px;
  min-width: 800px;
  max-width: 1200px;
}
